In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('test.txt')

In [3]:
df

   col1  col2  col3  col4
0     1     2     3     4
1     4     5     6     7
2     8     7     5     3
3     2     3     4     5

In [9]:
df[['col1', 'col2']][0:2]

   col1  col2
0     1     2
1     4     5

In [14]:
%timeit df.loc[0:1, ['col1', 'col2']]

672 µs ± 23 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [12]:
df['col1'].unqiue()

AttributeError: 'Series' object has no attribute 'unqiue'

In [13]:
df.columns.values

array(['col1', 'col2', 'col3', 'col4'], dtype=object)

In [16]:
df['total'] = df['col1'] + df['col2']

In [17]:
df

   col1  col2  col3  col4  total
0     1     2     3     4      3
1     4     5     6     7      9
2     8     7     5     3     15
3     2     3     4     5      5